  <angular-cropper 
    #angularCropper
    [cropperOptions]="config" 
    [imageUrl]="imageUrl"></angular-cropper>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <br />
    <br />
    <input type="file" id="avatar" (change)="onFileChange($event)" accept="image/*" #fileInput>
    <button type="button" class="btn btn-sm btn-default" (click)="clearFile()">Clear file</button>
  </div>
  <button type="submit" [disabled]="form.invalid || loading" class="btn btn-success">Submit <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i></button>
</form>
